body{
    font-family: Arial;
    margin:0;
    background:#f5f5f5;
}

header{
    background:brown;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.banner{
    background:url('https://via.placeholder.com/1200x300');
    color:white;
    text-align:center;
    padding:70px;
}

.product-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:30px;
}

.product{
    background:white;
    width:200px;
    margin:15px;
    padding:15px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

.product img{
    width:100%;
    height: 200px;
}

button{
    background:green;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

.login-box{
    width:300px;
    margin:100px auto;
    padding:20px;
    background:white;
    text-align:center;
    box-shadow:0 0 10px gray;
}

.login-box input{
    width:90%;
    margin:10px;
    padding:8px;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
}

/* Responsive */

@media(max-width:768px){

    header{
        flex-direction:column;
        text-align:center;
    }

    .product-container{
        flex-direction:column;
        align-items:center;
    }
}
